<div class="forgot-password">
    <h1><a title="Sweep Imp" tabindex="-1">Sweep Imp</a></h1>
    <div class="forgot-password-body">
        <ng-container *ngIf="!passwordChanged">
            <app-password [(password)]="newPassword"></app-password>
            <div class="button-holder" style="justify-content: flex-end;">
                <button class="main-button" mat-button (click)="changePassword(newPassword)"> {{ inProcess ? '' : 'Change'}}
                    <i *ngIf="inProcess" class="fa fa-spinner fa-spin centered"></i>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="passwordChanged">
            <span>Password Changed!</span>
            <div class="button-holder" style="justify-content: center;">
                <button class="main-button" mat-button (click)="router.navigate(['/login'])">Go To Login</button>
            </div>
        </ng-container>
    </div>
</div>