<!-- Load Facebook SDK for JavaScript -->
<!--div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1940493829534171&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script-->
<!-- End Load Facebook SDK for JavaScript -->
<!-- Load Twitter SDK for JavaScript -->
<!--script>
window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };
    return t;
}(document, "script", "twitter-wjs"));
</script-->
<!-- END Load Twitter SDK for JavaScript -->
<!--script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script-->

<div class="container">
    <app-header [title]="'Remember!'"></app-header>
    <mat-tab-group (selectedIndexChange)="selectedIndexChanged($event)" [selectedIndex]="mode - 1">
        <mat-tab [label]="label" *ngFor="let label of ['Today', 'Tomorrow', 'Upcoming', 'Ended']">
            <div class="body">
                <ng-container *ngIf="isSweepsLoading$ | async">
                    <div class="blocker"></div>
                    <i class="fa fa-spinner fa-spin centered"></i>
                </ng-container>
                <ng-container *ngIf="mode != 4">
                    <mat-list>
                        <mat-list-item *ngFor="let sweep of sweeps" [ngClass]="{'deleted': sweep.data.deleted_yn}">
                            <mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>
                            <div mat-line class="grid-container">
                                <div class="sweep-name" style="text-align: center"> {{sweep.data.sweep_name}}</div>
                                <app-sweep-actions [sweep]="sweep.data" [smBitmap]="user.enabled_social_media_bitmap" style="text-align: center"
                                                   (sweepShared)="sweepsActions.shareSweep({sweep_id: sweep.data.user_sweep_id, social_media: $event.media, URL: $event.URL})"
                                                   (sweepEntered)="sweepsActions.enterSweep(sweep.data.user_sweep_id)"></app-sweep-actions>
                                <div style="text-align: center">
                                    <ng-container *ngIf="sweep.data.is_frequency">{{ nextEntry(sweep) }}</ng-container>
                                </div>
                            </div>
                            <mat-icon class="edit-sweep clickable" (click)="router.navigate(['edit', sweep.data.user_sweep_id])">edit
                            </mat-icon>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
                <ng-container *ngIf="mode == 4">
                    <mat-list>
                        <mat-list-item *ngFor="let sweep of sweeps" [ngClass]="{'deleted': sweep.data.deleted_yn}">
                            <mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>
                            <div mat-line class="list-item-first">
                                <span class="sweep-name"> {{sweep.data.sweep_name}}</span>
                                <span class="sweep-data"> {{sweep.text}} </span>
                            </div>
                            <div mat-line class="list-item-second">
                                <ng-container *ngIf="sweep.data.is_frequency">
                                    Total entries: {{sweep.data.total_entries ? sweep.data.total_entries : 0}}
                                </ng-container>
                            </div>
                            <div mat-line class="list-item-third-ended">
                                <ng-container *ngIf="sweep.data.is_referral">
                                    Total shares: {{sweep.data.total_shares ? sweep.data.total_shares : 0}}
                                </ng-container>
                            </div>
                            <ng-container *ngIf="sweep.data.won_yn">
                                <mat-icon class="win-sweep" (click)="unwinSweep(sweep.data.user_sweep_id)">stars</mat-icon>
                            </ng-container>
                            <ng-container *ngIf="!sweep.data.won_yn">
                                <mat-icon class="edit-sweep" (click)="winSweep(sweep.data.user_sweep_id)">star_border</mat-icon>
                            </ng-container>
                            <mat-icon class="edit-sweep" (click)="router.navigate(['edit', sweep.data.user_sweep_id])">edit</mat-icon>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
                <div class="whole-screen" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0">
                    <div class="no-sweeps" *ngIf="mode == 1">
                        <h2>Great job!</h2>
                        You have completed all your shares and entries for today!
                        <p>
                            <span>Now go ahead and sign up for more sweeps, I'll manage them for you.</span>
                            <span style="font-size: 0.75em; font-weight: bold;">(Don't forget to add them here using the '+' button below!)</span>
                        </p>
                    </div>
                    <div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0 && mode == 2">
                        No shares or entries due for tomorrow. Do you have any due for today?
                        <p>
                            Sign up to more sweeps and then let me manage them for you using the '+' button below!
                        </p>
                    </div>
                    <div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0 && mode == 3">
                        No upcoming shares or entries. Do you have any due for today?
                        <p>
                            Sign up to more sweeps and then let me manage them for you using the '+' button below!
                        </p>
                    </div>
                    <div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0 && mode == 4">
                        No sweeps have ended yet. Add more using the '+' button below!
                    </div>
                </div>
                <button mat-fab (click)="addSweep()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>