@import '../../sass/styles';

.container {
  .blocker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
  }
  .centered {
    font-size: 65px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
    color: $main-color;
  }
  .mat-fab {
    position: fixed;
    bottom: 5px;
    right: 5vh;
    background: $main-color;

    .body {
      flex: 1 1 auto;
    }
  }
}
