@import '../../sass/styles';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  overflow-y: hidden;

  .body {
    flex: 1 1 auto;
    max-height: calc(100vh - 43px - 48px);
    overflow-y: auto;

    mat-list-item {
      &.deleted {
        text-decoration: line-through;
      }
      .edit-sweep {
        padding-left: 20px;
      }
      .won-sweep {
        padding-left: 20px;
        height: 30px;
        width: 30px;
        fill: $main-color;
      }
      .unwon-sweep {
        padding-left: 20px;
        height: 30px;
        width: 30px;
      }
      .grid-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .sweep-name {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          white-space: initial;

          span {
            align-self: flex-start;
          }

        }
        .sweep-data {
          color: gray;
        }

        .frequency-data {
          align-self: center;
          white-space: initial;
        }
      }
      .list-item-second {
        display: flex;
        justify-content: flex-end;
        color: gray;
      }
      .list-item-third {
        display: flex;
        justify-content: flex-start;
        color: gray;
      }
      .list-item-third-ended {
        display: flex;
        justify-content: flex-end;
        color: gray;
      }
    }

    .blocker {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      opacity: 0.4;
      z-index: 1;
    }

    .centered {
      font-size: 65px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -65px;
      margin-top: -65px;
      color: $main-color;
    }

    .mat-fab {
      position: fixed;
      bottom: 5vh;
      right: 5vh;
      z-index: 1;
      background: $main-color;
    }

    .whole-screen{
      position:fixed;
      padding:calc(43px + 48px);
      margin:0;
      top:calc(43px + 48px);
      left:0;
      width: 100%;
      height: calc(100vh - 40px - 48px);

      .no-sweeps {
        position: absolute;
        top: 10%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        transform: translate(-50%, 0%);
      }
    }
  }
}