<div class="header">
    <table class="header-table">
        <tr>
            <td class="header-td">
                <button mat-icon-button (click)="toggleSideNav()">
                    <mat-icon>menu</mat-icon>
                </button>
            </td>
            <td class="header-td">
                <span mat-dialog-title>{{title}}</span>
            </td>
            <td style="width: 100%">
            </td>
            <td class="header-td">
                <span class="buttons">
                    <button mat-icon-button (click)="sendMail()">
                        <mat-icon svgIcon="feedback"></mat-icon>
                    </button>
                </span>
            </td>
            <td class="header-td">
                <span class="buttons">
                    <button mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </span>
            </td>
        </tr>
    </table>
</div>
