<div class="header">
    <table class="header-table">
        <tr>
            <td class="header-td">
                <button mat-icon-button (click)="commonActions.toggleSideNav()">
                    <mat-icon>menu</mat-icon>
                </button>
            </td>
            <td class="header-td">
                <span mat-dialog-title>{{title}}</span>
            </td>
            <td style="width: 100%">
            </td>
            <td class="header-td">
                <span class="buttons">
                    <button mat-icon-button (click)="sendMail()">
                        <mat-icon svgIcon="feedback"></mat-icon>
                    </button>
                </span>
            </td>
            <td class="header-td">
                <span class="search" (keypress)="search(searchText, $event.keyCode === 13)">
                    <input matInput placeholder="search" [(ngModel)]="searchText"/>
                    <mat-icon matSuffix>search</mat-icon>
                </span>
            </td>
        </tr>
    </table>
</div>
