@import '../../sass/styles';

.header {
  display: flex;
  justify-content: space-between;

  @include header(42px);

  .title {
    line-height: 2.5;
  }

  .search-field {
    position: absolute;
    right: 50px;
    top: 11px;
    background: white;
  }
}