/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';
@import './mixins';

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}