/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';
@import './mixins';

.button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: $main-color;
  text-decoration: underline;
  cursor: pointer;
}

.main-button {
  background: $main-color;
  color: $main-color-foreground !important;
  &:disabled {
    cursor: not-allowed !important;
    background: $disabled-color !important;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    background: #dddddd75;
  }
}

.stacked-div {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) {
  .mat-slide-toggle-thumb {
    background-color: $main-color;
  }

  .mat-slide-toggle-bar {
    background-color: $main-color-opacity;
  }
}

.mat-tab-group {
    .mat-tab-header {
      .mat-ink-bar {
        background-color: $main-color;
      }

      .mat-tab-label {
        flex-basis: 0;
        flex-grow: 1;
        &:not(.mat-tab-disabled):focus {
          background-color: $main-color-opacity;
        }
      }
    }
}

.error-message {
  color: red;
}
