@import '../../../sass/variables';

.basic-container {
  display: flex;
  flex-direction: column;
}

.social-media-radio-group {
  display: flex;
  flex-direction: column;

  .social-media-radio-button {
    margin-bottom: 20px;
  }
}