@import '../../../sass/variables';

.basic-container {
  display: flex;
  flex-direction: column;
}

.social-media-radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}