<div class="container">
    <app-header [title]="'My Active Sweeps'" [mode]="SweepsMode.active"></app-header>
    <div class="body">
        <ng-container *ngIf="isSweepsLoading$ | async">
            <div class="blocker"></div>
            <i class="fa fa-spinner fa-spin centered"></i>
        </ng-container>
        <app-default-list [sweeps]="sweeps"></app-default-list>
        <div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0">
            <h2>No Active Sweeps :(</h2>
            <p>May I serve you please?</p>
            Sign up for sweeps and I'll manage them for you.<br>
            <span style="font-size: 0.75em; font-weight: bold;">(just add them here using the '+' button below!)</span>
        </div>
        <button mat-fab (click)="addSweep()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>