<div class="container">
    <div class="header">
        <span class="title">My Sweeps</span>

        <span class="buttons">
        <button mat-icon-button>
            <mat-icon>public</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
                <span>Live</span>
            </button>
            <button mat-menu-item>
                <span>Ended</span>
            </button>
        </mat-menu>
    </span>
    </div>
    <div class="body" *ngIf="sweeps$ | async">
        <ng-container *ngIf="isSweepsLoading$ | async">
            <div class="blocker"></div>
            <i class="fa fa-spinner fa-spin centered"></i>
        </ng-container>

        <mat-list>
            <mat-list-item *ngFor="let sweep of sweeps$ | async">
                <mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>
                <h3 matLine> {{sweep.sweep_name}} </h3>
                <p matLine>
                    <span> {{sweep.created}} </span>
                </p>
                <mat-icon>public</mat-icon>
            </mat-list-item>
        </mat-list>
        <div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && (sweeps$ | async).length == 0">
            <span>you have no sweeps! wanna start?</span>
            <button mat-raised-button (click)="addSweep()"> Add Sweep </button>
        </div>
        <button mat-fab (click)="addSweep()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
    </div>
</div>