<div class="container">
    <div class="header">
        <span class="title">My Sweeps</span>

        <span class="buttons">
        <button mat-icon-button>
            <mat-icon>public</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
                <span>Live</span>
            </button>
            <button mat-menu-item>
                <span>Ended</span>
            </button>
        </mat-menu>
    </span>
    </div>

    <div class="body">
        <mat-list>
            <mat-list-item *ngFor="let message of sweeps">
                <mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>
                <h3 matLine> {{message}} </h3>
                <p matLine>
                    <span> {{message}} </span>
                </p>
                <mat-icon>public</mat-icon>
            </mat-list-item>
        </mat-list>
        <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
    </div>
</div>