<div class="basic-container">
    <mat-form-field>
        <input matInput placeholder="Message with post" name="messageWithPost" id="messageWithPost"
               [(ngModel)]="personalReferMessage" [disabled]="disabled">
    </mat-form-field>
    <span>
        <span>Share every </span>
        <input matInput type="number" name="shareDuration" placeholder="XX" required [(ngModel)]="referralFrequency"
               appPositive [disabled]="disabled" #shareDuration="ngModel">
        <span> days on:</span>
    </span>
    <div class="icons-holder">
            <i class="fa fa-google social-icon" [ngClass]="{'logged': loggedSocialMedias?.includes(SocialMedia.google)}"
               (click)="login(SocialMedia.google)"></i>
            <mat-slide-toggle [checked]="referGoogle" [color]="'primary'"
                              [disabled]="!loggedSocialMedias?.includes(SocialMedia.google) || disabled"
                              (change)="referGoogle = $event.checked">
            </mat-slide-toggle>
    </div>
    <div class="icons-holder">
        <i class="fa fa-facebook-f social-icon" [ngClass]="{'logged': loggedSocialMedias?.includes(SocialMedia.Facebook)}"
           (click)="login(SocialMedia.Facebook)"></i>
        <mat-slide-toggle [checked]="referFacebook" [color]="'primary'"
                          [disabled]="!loggedSocialMedias?.includes(SocialMedia.Facebook) || disabled"
                          (change)="referFacebook = $event.checked">
        </mat-slide-toggle>
    </div>
    <ng-container *ngIf="shareDuration.invalid && (shareDuration.dirty || shareDuration.touched)">
        <mat-error *ngIf="shareDuration.errors.required">
            Duration is required.
        </mat-error>
        <mat-error *ngIf="shareDuration.errors.positive">
            Duration must be positive.
        </mat-error>
    </ng-container>
</div>