<div class="basic-container">
    <span [ngClass]="{'disabled-text': disabled}">
        <span>Share every </span>
        <input matInput type="number" name="shareDuration" placeholder="XX" required [(ngModel)]="referralFrequency"
               appPositive [disabled]="disabled" #shareDuration="ngModel">
        <span> days.</span>
    </span>
    <ng-container *ngIf="shareDuration.invalid && (shareDuration.dirty || shareDuration.touched)">
        <mat-error *ngIf="shareDuration.errors.required">
            Duration is required.
        </mat-error>
        <mat-error *ngIf="shareDuration.errors.positive">
            Duration must be positive.
        </mat-error>
    </ng-container>
</div>