<div class="basic-container">
    <span [ngClass]="{'disabled-text': disabled}">
        <span>Enter every </span>
        <input matInput type="number" placeholder="XX" required [disabled]="disabled" name="recurringDuration"
               appPositive [(ngModel)]="frequencyDays" #recurringDuration="ngModel">
        <span>days.</span>
    </span>
    <ng-container *ngIf="recurringDuration.invalid && (recurringDuration.dirty || recurringDuration.touched)">
        <mat-error *ngIf="recurringDuration.errors.required">
            Duration is required.
        </mat-error>
        <mat-error *ngIf="recurringDuration.errors.positive">
            Duration must be positive.
        </mat-error>
    </ng-container>
</div>