<button mat-icon-button *ngIf="isVisitUrlEnabled()" (click)="openUrl(sweep.sweep_url)" title="visit sweep">
    <mat-icon matListIcon svgIcon="internet"></mat-icon>
</button>
<ng-container *ngIf="sweep.is_referral">
    <ng-container *ngFor="let sm of EnumValues.getNames(SocialMedia)">
        <share-button *ngIf="getUserSocialMediaEnabled(SocialMedia[sm])" theme="circles-dark" [button]="sm.toLowerCase()" [url]="fixURL(sweep.sweep_url)"
                      [size]="-8" (opened)="shareSweep(SocialMedia[sm])">
        </share-button>
    </ng-container>
</ng-container>
