<div class="logo"> logo</div>
<div class="login-body">
    <div class="social-medias">
        <table class="social-media-table">
            <tr class="social-media-row">
                <td class="social-media-cell">
                    <i class="fa fa-facebook-f social-icon"></i>
                </td>
                <td class="social-media-cell">
                    <span>Facebook is {{facebook ? 'linked' : 'not linked'}}</span>
                </td>
                <td class="buttons">
                    <button class="main-button" *ngIf="!facebook" mat-button (click)="login()">LINK</button>
                    <button class="logoff-button" *ngIf="facebook" mat-button (click)="logoff()">UNLINK</button>
                </td>
            </tr>
            <tr class="social-media-row">
                <td colspan="3">
                    More social media links are on their way...
                </td>
            </tr>
        </table>
        <span class="continue-container">
            <button class="main-button" mat-button (click)="goToList()" *ngIf="facebook">
                CONTINUE
            </button>
        </span>
    </div>
    <span *ngIf="user" class="delete-account clickable" (click)="deleteAccount()">Delete my account</span>
</div>



