<div class="logo"> logo</div>
<div class="login-body">
    <div class="social-medias">
        <table>
            <tr>
                <td class="social-media-row">
                    <i class="fa fa-facebook-f social-icon"></i>
                    <span>Facebook is {{facebook ? 'linked' : 'not linked'}}</span>
                </td>
                <td class="buttons">
                    <button class="login-button" *ngIf="!facebook" mat-button (click)="login(SocialMedia.facebook)">Link</button>
                    <button class="logoff-button" *ngIf="facebook" mat-button (click)="logoff()">Unlink</button>
                </td>
            </tr>
        </table>
        More to come...
        <span class="continue-container">
            <button mat-button (click)="goToList()" *ngIf="facebook">
                Continue
                <i class="fa fa-angle-right"></i>
            </button>
        </span>
    </div>
</div>


