@import '../../sass/styles';

.login {
  width: 320px;
  padding: 5% 0 0;
  margin: auto;

  a {
    text-decoration: none;
    color: #555d66;
    font-size: 13px
  }

  h1 {
    text-align: center;

    a {
      background: url(../../assets/icons/appIcon.png) center top no-repeat;
      background-size: 150px;
      height: 150px;
      margin: 0 auto 25px;
      width: 150px;
      text-indent: -9999px;
      display: block;
    }
  }
  
  .social-media-cell {
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
  }

  .login-body {
    background: white;
    margin-left: 0;
    padding: 6px 24px 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);

    label {
      color: #72777c;
      font-size: 14px;

      input {
        font-size: 24px;
        width: 100%;
        padding: 3px;
        margin: 2px 6px 16px 0;
      }
    }

    .regular-login-button {
      display: flex;
    }

    .separator {
      margin: 10px 0;
      border-top: 1px solid #CCCCCC;
      position: relative;

      .separator-text {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -22px;
        padding: 0px 10px;
        background: white;
        color: #72777c;
        font-weight: bold;
      }
    }

    .social-login-container {
      display: block;
      text-align: center;

      .login-button {
        color: white;
        width: 100%;
        margin-top: 5px;

        &.google {
          background: $google-color;
          margin: 10px 0;
        }
        &.facebook {
          background: $facebook-color;
          margin: 10px 0;
        }
      }
    }
  }
}
