@import '../../sass/styles';

.logo {
  @include header(25%);
}

.login-body {
  height: 75%;
  margin: 20px;

  .social-medias {
    display: flex;
    flex-direction: column;

    .social-media-row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      i {
        &.fa-facebook-f {
          color: $facebook-color;
        }
        &.fa-twitter {
          color: $twitter-color;
        }

        &.fa-linkedin {
          color: $linkedin-color;
        }

        &.fa-pinterest-p {
          color: $pintereset-color;
        }
        font-size: x-large;
        margin-right: 6px;
      }
    }
  }

  .continue-container {
    text-align: right;

    button {
      background: $main-color;
      color: white;

      i {
        font-weight: bold;
      }
    }
  }
}

