<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [opened]="sideNav" (closedStart)="toggleSideNav()">
        <h1><a title="Sweep Imp" tabindex="-1">Sweep Imp</a></h1>
        <mat-nav-list>
            <a [routerLink]="['/todo', 1]" mat-list-item>
                <mat-icon svgIcon="calendar"></mat-icon>
                Sweep Actions
            </a>
            <a [routerLink]="['/list']" mat-list-item>
                <mat-icon svgIcon="gift"></mat-icon>
                Active Sweeps
            </a>
            <hr>
            <a [routerLink]="['/settings']" mat-list-item>
                <mat-icon svgIcon="settings"></mat-icon>
                Settings
            </a>
            <a href="mailto:support@sweepimp.com" mat-list-item>
                <mat-icon svgIcon="feedback"></mat-icon>
                Help & Feedback
            </a>
            <a mat-list-item>
            </a>
            <a (click)="logoff()" mat-list-item>
                <mat-icon svgIcon="power"></mat-icon>
                Logoff
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
