<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [opened]="sideNav" (closedStart)="toggleSideNav()">
        <mat-nav-list>
            <a [routerLink]="['/todo']" mat-list-item>
                <mat-icon matListIcon fontSet="fa" fontIcon="fa-list-ul"></mat-icon>
                Don't Forget!
            </a>
            <a [routerLink]="['/list', 1]" mat-list-item>
                <mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>
                Active Sweeps
            </a>
            <a [routerLink]="['/ended']" mat-list-item>
                <mat-icon svgIcon="calendar-with-clock"></mat-icon>
                Ended Sweeps
            </a>
            <a [routerLink]="['/wins']" mat-list-item>
                <mat-icon svgIcon="win"></mat-icon>
                Wins Summery
            </a>
            <a mat-list-item>
                <mat-icon matListIcon>settings</mat-icon>
                Settings
            </a>
            <a href="mailto:support@sweepimp.com" mat-list-item>
                <mat-icon matListIcon>feedback</mat-icon>
                Help & Feedback
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
