<div class="container">
    <app-header [title]="'My Wins!'" [mode]="SweepsMode.ended"></app-header>
    <div class="body">
        <ng-container *ngIf="async">
            <div class="blocker"></div>
            <i class="fa fa-spinner fa-spin centered"></i>
        </ng-container>
        <mat-accordion>
            <ng-container *ngFor="let yearWin of userWins">
                <mat-expansion-panel *ngIf="!yearWin.win_month">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--div class="win">
                                <mat-icon svgIcon="star-list"></mat-icon>
                            </div-->
                            {{yearWin.win_year}}
                        </mat-panel-title>
                        <mat-panel-description>{{getWinValueText(yearWin.prize_value_sum)}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <ng-container *ngFor="let monthWin of userWins">
                            <ng-container *ngIf="monthWin.win_month && monthWin.win_year === yearWin.win_year">
                                <mat-list-item class="auto-height">
                                    <!--mat-icon matListIcon svgIcon="star-list"></mat-icon-->
                                    <div mat-line class="grid-container">
                                        <div class="sweep-name">
                                            <span>{{monthWin.win_month}}</span>
                                        </div>
                                        <div class="frequency-data">
                                            {{getWinValueText(monthWin.prize_value_sum)}}
                                        </div>
                                    </div>
                                </mat-list-item>
                            </ng-container>
                        </ng-container>
                    </mat-list>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
        <div class="no-sweeps" *ngIf="!(async) && !userWins">
            <span>No wins yet :-(</span>
            <br>
            <span>Don't worrk, they will come!</span>
        </div>
        <button mat-fab (click)="addSweep()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>