<mat-dialog-content>
    <h2 mat-dialog-title>Delete Account - Are You Sure?</h2>
    <ng-container *ngIf="!data">
      <div class="blocker"></div>
      <i class="fa fa-spinner fa-spin centered"></i>
    </ng-container>
    <ng-container *ngIf="data">
        <span>This will <b>permanently</b> delete:</span>

        <ul>
            <li>Your {{data.tasks}} tasks</li>
            <li>Your {{data.active}} active sweeps</li>
            <li>Your {{data.ended}} ended sweeps</li>
            <li>Your {{data.won}} wins</li>
        </ul>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
    <button  class="secondary-button" mat-button (click)="dialogRef.close()">NO, TAKE ME BACK</button>
    <button class="main-button" mat-button (click)="loginActions.deleteAccount(userId)">DELETE</button>
</mat-dialog-actions>