<div *ngIf="sweep" class="container">
    <div class="header">
        <span>
            <button mat-icon-button (click)="back()">
                <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
            </button>
            <span class="title">Edit Sweep</span>
        </span>
        <span class="buttons">
            <button mat-icon-button>
                <mat-icon svgIcon="contact-us"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
            </button>
        </span>
    </div>
    <div class="body">
        <form class="form" #editSweepForm="ngForm">
            <app-basic-sweep-data [(sweepName)]="sweep.sweep_name" [(sweepEndDate)]="sweep.end_date"></app-basic-sweep-data>

            <mat-accordion [multi]="true">
                <mat-expansion-panel #frequencyPanel [disabled]="!sweep.is_frequency">
                    <mat-expansion-panel-header>
                        Recurring entry
                        <mat-slide-toggle [checked]="sweep.is_frequency" [color]="'primary'" (click)="$event.stopPropagation()"
                                          (change)="changeIsFrequency($event, frequencyPanel)">
                        </mat-slide-toggle>
                    </mat-expansion-panel-header>
                    <app-frequency-sweep-data [disabled]="!sweep.is_frequency" [(frequencyUrl)]="sweep.frequency_url"
                                              [(frequencyDays)]="sweep.frequency_days"></app-frequency-sweep-data>
                </mat-expansion-panel>
                <mat-expansion-panel #referralPanel [disabled]="!sweep.is_referral">
                    <mat-expansion-panel-header>
                        Share on social media
                        <mat-slide-toggle [checked]="sweep.is_referral" [color]="'primary'" (click)="$event.stopPropagation()"
                                          (change)="changeIsReferral($event, referralPanel)">
                        </mat-slide-toggle>
                    </mat-expansion-panel-header>
                    <app-referral-sweep-data [disabled]="!sweep.is_referral" [(personalReferMessage)]="sweep.personal_refer_message"
                                             [(referralUrl)]="sweep.referral_url" [(referFacebook)]="sweep.refer_facebook"
                                             [(referGoogle)]="sweep.refer_google"
                                             [(referralFrequency)]="sweep.referral_frequency"></app-referral-sweep-data>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
</div>
