<div *ngIf="sweep" class="container">
    <div class="header">
        <span>
            <button mat-icon-button (click)="back()">
                <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
            </button>
            <span class="title">Edit Sweep</span>
        </span>
        <span class="buttons">
            <button mat-icon-button>
                <mat-icon svgIcon="contact-us"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
            </button>
        </span>
    </div>
    <div class="body">
        <form class="form" #editSweepForm="ngForm">
            <mat-form-field>
                <input matInput placeholder="Prize (sweep name)" name="name" id="name" [(ngModel)]="sweep.sweep_name" required
                       #name="ngModel">
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
                    Name is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input #calInput matInput [matDatepicker]="picker" placeholder="End date" id="endDate" name="endDate"
                       [(ngModel)]="sweep.end_date" (click)="openCalendar(picker, calInput)"
                       required #endDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched) && endDate.errors.required">
                    End date is required.
                </mat-error>
            </mat-form-field>

            <mat-accordion [multi]="true">
                <mat-expansion-panel #frequencyPanel [disabled]="!sweep.is_frequency">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Recurring entry
                        </mat-panel-title>
                        <mat-panel-description>
                            <mat-slide-toggle [checked]="sweep.is_frequency" [color]="'primary'" (click)="$event.stopPropagation()"
                                              (change)="changeIsFrequency($event, frequencyPanel)">
                            </mat-slide-toggle>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="mat-expansion-panel-body">
                        <mat-form-field>
                            <input matInput placeholder="my url" name="siteUrl" id="siteUrl" [(ngModel)]="sweep.frequency_url" required
                                   #url="ngModel">
                            <mat-icon matSuffix>public</mat-icon>
                            <mat-error *ngIf="url.invalid && (url.dirty || url.touched) && url.errors.required">
                                url is required.
                            </mat-error>
                        </mat-form-field>
                        <span>
                            <span>Every </span>
                            <input matInput type="number" placeholder="XX" required [disabled]="!sweep.is_frequency" name="recurringDuration"
                                   appPositive
                                   [(ngModel)]="sweep.frequency_days" #recurringDuration="ngModel">
                            <span>days</span>
                        </span>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel #referralPanel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Share on social media
                        </mat-panel-title>
                        <mat-panel-description>
                            <mat-slide-toggle [checked]="sweep.is_referral" [color]="'primary'" (click)="$event.stopPropagation()"
                                              (change)="changeIsReferral($event, referralPanel)">
                            </mat-slide-toggle>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
    <!--<div class="body">-->
    <!--<ng-container *ngIf="isSweepsLoading$ | async">-->
    <!--<div class="blocker"></div>-->
    <!--<i class="fa fa-spinner fa-spin centered"></i>-->
    <!--</ng-container>-->

    <!--<mat-list>-->
    <!--<mat-list-item class="clickable" (click)="openUrl(sweep.frequency_url)" *ngFor="let sweep of sweeps">-->
    <!--<mat-icon matListIcon fontSet="fa" fontIcon="fa-gift"></mat-icon>-->
    <!--<h3 matLine> {{sweep.sweep_name}} </h3>-->
    <!--<p matLine>-->
    <!--<span> {{sweep.created | date:'yyyy-MM-dd HH:mm'}} </span>-->
    <!--</p>-->
    <!--<mat-icon (click)="editSweep(sweep, $event)">edit</mat-icon>-->
    <!--</mat-list-item>-->
    <!--</mat-list>-->
    <!--<div class="no-sweeps" *ngIf="!(isSweepsLoading$ | async) && sweeps.length == 0">-->
    <!--<span>you have no sweeps! wanna start?</span>-->
    <!--<button mat-raised-button (click)="addSweep()"> Add Sweep</button>-->
    <!--</div>-->
    <!--<button mat-fab (click)="addSweep()">-->
    <!--<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
    <!--</button>-->
    <!--</div>-->
</div>

<!--<form class="form" #addSweepForm="ngForm">-->
<!--<ng-container *ngIf="step === 1">-->
<!--<h2 mat-dialog-title>Edit Sweep</h2>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="Prize (sweep name)" name="name" id="name" [(ngModel)]="newSweep.sweep_name" required #name="ngModel">-->
<!--<mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">-->
<!--Name is required.-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="picker" placeholder="End date" id="endDate" name="endDate" [(ngModel)]="newSweep.end_date"-->
<!--required disabled #endDate="ngModel">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker disabled="false"></mat-datepicker>-->
<!--<mat-error *ngIf="endDate.invalid && (endDate.dirty || endDate.touched) && endDate.errors.required">-->
<!--End date is required.-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--</ng-container>-->
<!--<ng-container *ngIf="step === 2">-->
<!--<mat-slide-toggle [checked]="newSweep.is_frequency" [labelPosition]="'before'" [color]="'primary'"-->
<!--(change)="newSweep.is_frequency= $event.checked">-->
<!--Recurring Entry-->
<!--</mat-slide-toggle>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="sweep url" name="siteUrl" id="siteUrl" [(ngModel)]="newSweep.frequency_url" required #url="ngModel"-->
<!--[disabled]="!newSweep.is_frequency">-->
<!--<mat-icon matSuffix>public</mat-icon>-->
<!--<mat-error *ngIf="url.invalid && (url.dirty || url.touched) && url.errors.required">-->
<!--url is required.-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<span>-->
<!--<span>Every </span>-->
<!--<input matInput type="number" placeholder="XX" required [disabled]="!newSweep.is_frequency" name="recurringDuration"-->
<!--appPositive-->
<!--[(ngModel)]="newSweep.frequency_days" #recurringDuration="ngModel">-->
<!--<span>days</span>-->
<!--</span>-->
<!--<ng-container *ngIf="recurringDuration.invalid && (recurringDuration.dirty || recurringDuration.touched)">-->
<!--<mat-error *ngIf="recurringDuration.errors.required">-->
<!--Duration is required.-->
<!--</mat-error>-->
<!--<mat-error *ngIf="recurringDuration.errors.positive">-->
<!--Duration must be positive.-->
<!--</mat-error>-->
<!--</ng-container>-->
<!--</ng-container>-->
<!--<ng-container *ngIf="step === 3">-->
<!--<mat-slide-toggle [checked]="newSweep.is_referral" [labelPosition]="'before'" [color]="'primary'"-->
<!--(change)="newSweep.is_referral = $event.checked">-->
<!--Share On My Social Media-->
<!--</mat-slide-toggle>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="My Url" name="shareSiteUrl" id="shareSiteUrl" [(ngModel)]="newSweep.referral_url" required-->
<!--#url="ngModel" [disabled]="!newSweep.is_referral">-->
<!--<mat-icon matSuffix>public</mat-icon>-->
<!--<mat-error *ngIf="url.invalid && (url.dirty || url.touched) && url.errors.required">-->
<!--url is required.-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="Message with post" name="messageWithPost" id="messageWithPost"-->
<!--[(ngModel)]="newSweep.personal_refer_message" [disabled]="!newSweep.is_referral">-->
<!--</mat-form-field>-->
<!--<span>-->
<!--<span>Share every </span>-->
<!--<input matInput type="number" name="shareDuration" placeholder="XX" required [(ngModel)]="newSweep.referral_frequency"-->
<!--appPositive [disabled]="!newSweep.is_referral" #shareDuration="ngModel">-->
<!--<span> days on:</span>-->
<!--</span>-->
<!--<div class="icons-holder">-->
<!--<i class="fa fa-google social-icon" [ngClass]="{'logged': loggedSocialMedias.includes(SocialMedia.google)}"-->
<!--(click)="login(SocialMedia.google)"></i>-->
<!--<mat-slide-toggle [checked]="newSweep.refer_google" [color]="'primary'"-->
<!--[disabled]="!loggedSocialMedias.includes(SocialMedia.google)"-->
<!--(change)="newSweep.refer_google = $event.checked">-->
<!--</mat-slide-toggle>-->
<!--</div>-->
<!--<div class="icons-holder">-->
<!--<i class="fa fa-facebook-f social-icon" [ngClass]="{'logged': loggedSocialMedias.includes(SocialMedia.facebook)}"-->
<!--(click)="login(SocialMedia.facebook)"></i>-->
<!--<mat-slide-toggle [checked]="newSweep.refer_facebook" [color]="'primary'"-->
<!--[disabled]="!loggedSocialMedias.includes(SocialMedia.facebook)"-->
<!--(change)="newSweep.refer_facebook = $event.checked">-->
<!--</mat-slide-toggle>-->
<!--</div>-->

<!--<ng-container *ngIf="shareDuration.invalid && (shareDuration.dirty || shareDuration.touched)">-->
<!--<mat-error *ngIf="shareDuration.errors.required">-->
<!--Duration is required.-->
<!--</mat-error>-->
<!--<mat-error *ngIf="shareDuration.errors.positive">-->
<!--Duration must be positive.-->
<!--</mat-error>-->
<!--</ng-container>-->
<!--</ng-container>-->
<!--<ng-container *ngIf="step === 4">-->
<!--<mat-slide-toggle [checked]="thankReferrer" [labelPosition]="'before'" [color]="'primary'"-->
<!--(change)="thankReferrer = $event.checked">-->
<!--Thank referrer if I won-->
<!--</mat-slide-toggle>-->
<!--<mat-form-field>-->
<!--<input matInput placeholder="Referrer name" name="referrerName" id="referrerName" [(ngModel)]="newSweep.thanks_to" required-->
<!--#referrerName="ngModel" [disabled]="!thankReferrer">-->
<!--<mat-error *ngIf="referrerName.invalid && (referrerName.dirty || referrerName.touched) && referrerName.errors.required">-->
<!--referrer name is required.-->
<!--</mat-error>-->
<!--</mat-form-field>-->
<!--<mat-radio-group class="social-media-radio-group" [(ngModel)]="newSweep.thanks_social_media_id" name="referrerSocialMedia" id="referrerSocialMedia"-->
<!--required #referrerSocialMedia="ngModel" [disabled]="!thankReferrer">-->
<!--<mat-radio-button class="social-media-radio-button" *ngFor="let socialMedia of socialMedias" [value]="socialMedia">-->
<!--{{SocialMedia[socialMedia]}}-->
<!--</mat-radio-button>-->
<!--</mat-radio-group>-->
<!--<mat-error *ngIf="referrerSocialMedia.invalid && (referrerSocialMedia.dirty || referrerSocialMedia.touched) && referrerSocialMedia.errors.required">-->
<!--social media is required.-->
<!--</mat-error>-->

<!--</ng-container>-->
<!--<ng-container *ngIf="step === 5">-->
<!--<h2 mat-dialog-title>New Sweep Added!</h2>-->
<!--<h2 mat-dialog-title>What do you want to do?</h2>-->
<!--</ng-container>-->
<!--</form>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--<button mat-button *ngIf="1 < step && step < 5" (click)="back()">Back</button>-->
<!--<button mat-raised-button color="primary" *ngIf="step < 4" (click)="next()" [disabled]="isNextDisabled()">Next</button>-->
<!--<button mat-raised-button color="primary" *ngIf="step === 4" (click)="addSweep()" [disabled]="isNextDisabled()">Submit</button>-->
<!--<ng-container *ngIf="step === 5">-->
<!--<button mat-button (click)="dialogRef.close()">I'm done</button>-->
<!--<button mat-raised-button color="primary" (click)="clear()">Add one more</button>-->
<!--</ng-container>-->
