<div *ngIf="sweep" class="container">
    <div class="header">
        <span>
            <button mat-icon-button (click)="location.back()">
                <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
            </button>
            <span class="title">Edit Sweep</span>
        </span>
        <span class="buttons">
            <button mat-icon-button (click)="deleteSweep()">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon svgIcon="contact-us"></mat-icon>
            </button>
            <button mat-icon-button [disabled]="!canSaveSweep()" (click)="saveSweep()">
                <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
            </button>
        </span>
    </div>
    <div class="body">
        <form class="form" #editSweepForm="ngForm">
            <app-basic-sweep-data (isValidChange)="step1Valid = $event" [(sweepName)]="sweep.sweep_name" [(sweepUrl)]="sweep.sweep_url"
                                  [(sweepEndDate)]="sweep.end_date"></app-basic-sweep-data>
            <ng-container *ngIf="isEnded()">
                <span class="small-title">Sweep has ended</span>
                <br>
                <app-win-sweep-data (isValidChange)="stepWonValid = $event" [(prizeValue)]="sweep.prize_value" [(wonYN)]="sweep.won_yn"></app-win-sweep-data>
            </ng-container>
            <mat-accordion [multi]="true">
                <mat-expansion-panel #frequencyPanel [expanded]="sweep.is_frequency" [disabled]="!sweep.is_frequency">
                    <mat-expansion-panel-header>
                        Recurring entry
                        <mat-slide-toggle [checked]="sweep.is_frequency" [color]="'primary'" (click)="$event.stopPropagation()"
                                          (change)="changeIsFrequency($event, frequencyPanel)">
                        </mat-slide-toggle>
                    </mat-expansion-panel-header>
                    <app-frequency-sweep-data (isValidChange)="step2Valid = $event" [disabled]="!sweep.is_frequency"
                                              [(frequencyDays)]="sweep.frequency_days"></app-frequency-sweep-data>
                </mat-expansion-panel>
                <mat-expansion-panel #referralPanel [expanded]="sweep.is_referral" [disabled]="!sweep.is_referral">
                    <mat-expansion-panel-header>
                        Share on social media
                        <mat-slide-toggle [checked]="sweep.is_referral" [color]="'primary'" (click)="$event.stopPropagation()"
                                          (change)="changeIsReferral($event, referralPanel)">
                        </mat-slide-toggle>
                    </mat-expansion-panel-header>
                    <app-referral-sweep-data (isValidChange)="step3Valid = $event" [disabled]="!sweep.is_referral"
                                             [(referralFrequency)]="sweep.referral_frequency"></app-referral-sweep-data>
                </mat-expansion-panel>
                <mat-expansion-panel #thankPanel [expanded]="thankReferrer"  [disabled]="!thankReferrer">
                    <mat-expansion-panel-header>
                        Thank referrer if I won
                        <mat-slide-toggle [checked]="thankReferrer" [color]="'primary'" (click)="$event.stopPropagation()"
                                          (change)="changeIsThank($event, thankPanel)">
                        </mat-slide-toggle>
                    </mat-expansion-panel-header>
                    <app-thank-sweep-data (isValidChange)="step4Valid = $event" [disabled]="!thankReferrer" [(thanksTo)]="sweep.thanks_to"
                                          [(thanksSocialMediaId)]="sweep.thanks_social_media_id"
                                          [smBitmap]="(user$ | async).enabled_social_media_bitmap"></app-thank-sweep-data>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>
</div>
