<mat-dialog-content>
    <form class="form" #addSweepForm="ngForm">
        <ng-container *ngIf="step === 1">
            <h2 mat-dialog-title>New Sweep</h2>
            <app-basic-sweep-data (isValidChange)="step1Valid = $event" [(sweepName)]="newSweep.sweep_name"
                                  [(sweepEndDate)]="newSweep.end_date" [(sweepUrl)]="newSweep.sweep_url"></app-basic-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 2">
            <mat-slide-toggle [checked]="newSweep.is_frequency" [labelPosition]="'before'" [color]="'primary'"
                              (change)="newSweep.is_frequency = $event.checked">
                Recurring Entry
            </mat-slide-toggle>
            <app-frequency-sweep-data (isValidChange)="step2Valid = $event" [disabled]="!newSweep.is_frequency"
                                      [(frequencyDays)]="newSweep.frequency_days"></app-frequency-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 3">
            <mat-slide-toggle [checked]="newSweep.is_referral" [labelPosition]="'before'" [color]="'primary'"
                              (change)="newSweep.is_referral = $event.checked">
                Share On My Social Media
            </mat-slide-toggle>
            <!--app-referral-sweep-data (isValidChange)="step3Valid = $event" [disabled]="!newSweep.is_referral"
                                     [(personalReferMessage)]="newSweep.personal_refer_message"
                                     [(referFacebook)]="newSweep.refer_facebook" [(referGoogle)]="newSweep.refer_google"
                                     [(referralFrequency)]="newSweep.referral_frequency"></app-referral-sweep-data -->
            <app-referral-sweep-data (isValidChange)="step3Valid = $event" [disabled]="!newSweep.is_referral"
                                     [(personalReferMessage)]="newSweep.personal_refer_message"
                                     [(referralFrequency)]="newSweep.referral_frequency"></app-referral-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 4">
            <mat-slide-toggle [checked]="thankReferrer" [labelPosition]="'before'" [color]="'primary'"
                              (change)="thankReferrer = $event.checked">
                Thank referrer if I won
            </mat-slide-toggle>
            <app-thank-sweep-data (isValidChange)="step4Valid = $event" [disabled]="!thankReferrer" [(thanksTo)]="newSweep.thanks_to"
                                  [(thanksSocialMediaId)]="newSweep.thanks_social_media_id"></app-thank-sweep-data>
        </ng-container>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngIf="1 < step" (click)="back()">BACK</button>
    <button mat-raised-button color="primary" (click)="step === 4 ? addSweep() : next()" [disabled]="isNextDisabled()">
        {{step === 4 ? 'SUBMIT' : 'NEXT'}}</button>
</mat-dialog-actions>