@import '../../sass/variables';

.mat-dialog-title {
  font-weight: bold;
}

.mat-dialog-actions {
  .mat-raised-button:not([disabled]) {
    background-color: $main-color;
    color: $main-color-foreground;
  }
}

.mat-slide-toggle-content {
  font-family: Roboto, serif;
  font-weight: bold;
}

.form{
  display: flex;
  flex-direction: column;

  .social-media-radio-group {
    display: inline-flex;
    flex-direction: column;

    .social-media-radio-button {
      margin: 5px;
    }
  }

  .icons-holder {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    margin: 10px;

    i {
      &.fa-facebook-f {
        cursor: pointer;

        &.logged {
          cursor: default;
          color: $facebook-color;
        }
      }
      &.fa-google {
        cursor: pointer;

        &.logged {
          cursor: default;
          color: $google-color;
        }
      }
    }
  }
}
