@import '../../sass/variables';

.mat-dialog-title {
  font-family: Roboto, serif;
  font-weight: bold;
}

.mat-dialog-actions {
  .mat-raised-button:not([disabled]) {
    background-color: $main-color;
    color: $main-color-forground;
  }
}

.mat-slide-toggle-content {
  font-family: Roboto, serif;
  font-weight: bold;
}

.form{
  display: flex;
  flex-direction: column;

  .icons-holder {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    margin: 10px;

    i {
      &.fa-facebook-f.logged {
        color: $facebook-color;
      }

      &.fa-google.logged {
        color: $google-color;
      }
    }
  }

  input[type="number"] {
    width: 15%;
  }
}
