
<mat-dialog-content>
    <form class="form" #addSweepForm="ngForm">
        <ng-container *ngIf="step === 1">
            <h2 mat-dialog-title>New Sweep</h2>
            <app-basic-sweep-data [(sweepName)]="newSweep.sweep_name" [(sweepEndDate)]="newSweep.end_date"></app-basic-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 2">
            <mat-slide-toggle [checked]="newSweep.is_frequency" [labelPosition]="'before'" [color]="'primary'"
                              (change)="newSweep.is_frequency = $event.checked">
                Recurring Entry
            </mat-slide-toggle>
            <app-frequency-sweep-data [disabled]="!newSweep.is_frequency" [(frequencyUrl)]="newSweep.frequency_url"
                                      [(frequencyDays)]="newSweep.frequency_days"></app-frequency-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 3">
            <mat-slide-toggle [checked]="newSweep.is_referral" [labelPosition]="'before'" [color]="'primary'"
                              (change)="newSweep.is_referral = $event.checked">
                Share On My Social Media
            </mat-slide-toggle>
            <app-referral-sweep-data [disabled]="!newSweep.is_referral" [(personalReferMessage)]="newSweep.personal_refer_message"
                                     [(referralUrl)]="newSweep.referral_url" [(referFacebook)]="newSweep.refer_facebook"
                                     [(referGoogle)]="newSweep.refer_google"
                                     [(referralFrequency)]="newSweep.referral_frequency"></app-referral-sweep-data>
        </ng-container>
        <ng-container *ngIf="step === 4">
            <mat-slide-toggle [checked]="thankReferrer" [labelPosition]="'before'" [color]="'primary'"
                              (change)="thankReferrer = $event.checked">
                Thank referrer if I won
            </mat-slide-toggle>
            <mat-form-field>
                <input matInput placeholder="Referrer name" name="referrerName" id="referrerName" [(ngModel)]="newSweep.thanks_to" required
                       #referrerName="ngModel" [disabled]="!thankReferrer">
                <mat-error *ngIf="referrerName.invalid && (referrerName.dirty || referrerName.touched) && referrerName.errors.required">
                    referrer name is required.
                </mat-error>
            </mat-form-field>
            <mat-radio-group class="social-media-radio-group" [(ngModel)]="newSweep.thanks_social_media_id" name="referrerSocialMedia" id="referrerSocialMedia"
                             required #referrerSocialMedia="ngModel" [disabled]="!thankReferrer">
                <mat-radio-button class="social-media-radio-button" *ngFor="let socialMedia of socialMedias" [value]="socialMedia">
                    {{SocialMedia[socialMedia]}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="referrerSocialMedia.invalid && (referrerSocialMedia.dirty || referrerSocialMedia.touched) && referrerSocialMedia.errors.required">
                social media is required.
            </mat-error>
        </ng-container>
        <ng-container *ngIf="step === 5">
            <h2 mat-dialog-title>New Sweep Added!</h2>
            <h2 mat-dialog-title>What do you want to do?</h2>
        </ng-container>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngIf="1 < step && step < 5" (click)="back()">Back</button>
    <button mat-raised-button color="primary" *ngIf="step < 4" (click)="next()" [disabled]="isNextDisabled()">Next</button>
    <button mat-raised-button color="primary" *ngIf="step === 4" (click)="addSweep()" [disabled]="isNextDisabled()">Submit</button>
    <ng-container *ngIf="step === 5">
        <button mat-button (click)="dialogRef.close()">I'm done</button>
        <button mat-raised-button color="primary" (click)="clear()">Add one more</button>
    </ng-container>
</mat-dialog-actions>