<div class="basic-container">
    <mat-form-field>
        <input matInput placeholder="Prize (sweep name)" name="name" id="name" [(ngModel)]="sweepName" required #name="ngModel">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
            Name is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="sweep url" name="url" id="url" [(ngModel)]="url" required #url="ngModel">
        <mat-error *ngIf="url.invalid && (url.dirty || url.touched) && url.errors.required">
            Name is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput [min]="now" [matDatepicker]="picker" placeholder="End date" id="endDate" name="endDate" [(ngModel)]="sweepEndDate"
               required #endDate="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="endDate.invalid && (now > sweepEndDate || endDate.dirty || endDate.touched) && endDate.errors.required">
            End date is required or invalid.
        </mat-error>
    </mat-form-field>
</div>
