<mat-list *ngIf="sweeps">
  <mat-list-item *ngFor="let sweep of sweeps" [ngClass]="{'deleted': sweep.data.deleted_yn}">
    <div mat-line class="list-item-first">
      <span class="sweep-name"> {{sweep.data.sweep_name}}</span>
      <span class="sweep-data"> {{sweep.text}} </span>
    </div>
    <div mat-line class="list-item-second" *ngIf="sweep.data.is_frequency">
      Total entries: {{sweep.data.total_entries ? sweep.data.total_entries : 0}}
    </div>
    <div mat-line class="list-item-third-ended" *ngIf="sweep.data.is_referral">
      Total shares: {{sweep.data.total_shares ? sweep.data.total_shares : 0}}
    </div>
    <mat-icon *ngIf="sweep.data.won_yn" class="won-sweep clickable" (click)="unwinSweep(sweep.data.user_sweep_id)"
              svgIcon="win"></mat-icon>
    <mat-icon *ngIf="!sweep.data.won_yn" class="unwon-sweep clickable" (click)="winSweep(sweep.data.user_sweep_id)"
              svgIcon="star"></mat-icon>
    <mat-icon class="edit-sweep clickable" (click)="router.navigate(['edit', sweep.data.user_sweep_id])">edit</mat-icon>
  </mat-list-item>
</mat-list>